$myDefaultFont: 'myDefaultFont', 'Lucida Sans Unicode', 'Lucida Sans', 'Geneva';

$myBoldFont: 'myBoldFont', 'Lucida Sans Unicode', 'Lucida Sans', 'Geneva';

$myBoldOblique: 'myBoldOblique', 'Lucida Sans Unicode', 'Lucida Sans', 'Geneva';

$myLightFont: 'myLightFont', 'Lucida Sans Unicode', 'Lucida Sans', 'Geneva';

$myObliqueFont: 'myObliqueFont', 'Lucida Sans Unicode', 'Lucida Sans', 'Geneva';

$myRoundedBoldFont: 'myRoundedBoldFont', 'Lucida Sans Unicode', 'Lucida Sans',
  'Geneva';
